<div class="jumbotron">

  <h1 class="text-center">Hello, <%= @user.first_name %></h1>
    <br>
  <div><center>
  <a href ="/user/<%= current_user.id %>/texts/archive">
  <div class="btn-primary btn btn-lg">
    Archived Messages
 </div></a>
<a href ="/user/<%= current_user.id %>/texts/pending">
  <div class="btn-primary btn btn-lg">
   Pending Messages
  </div></a>
  </center></div>
  <br>
  <br>
  <p class="text-center">Let's Send Some Messages!</p>
  <br>
  <% if @text && @text.errors.any? %>
    <div>
      <strong>Oops! Try fixing these:</strong>
      <ul>
        <% @text.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form method="post" action="/user/<%= @user.id %>/text/new">
    <label>Number To Text:</label>
    <input type="text" class="form-control" name="recipient_phone_number" value = "<%= @text && @text.recipient_phone_number%>">
    <br>
    <label>Message Content:</label>
    <textarea id="msg-content" class="form-control msg-content" name="content" value="<%= @text && @text.content%>"></textarea>
    <br>
    <label>Delivery Date:</label>
    <input type="datetime-local" class="form-control" name="datetime">
    <br>
    
     <label>Time Zone:</label>
     <br>
      <select class="selectpicker" name="timezone"> 
        <option value="AKST" selected="selected">Alaska Standard Time</option>
        <option value="PST">Pacific Standard Time </option>
        <option value="MST">Mountain Standard Time</option>
        <option value= "CST">Central Standard Time</option>
        <option value= "EST">Eastern Standard Times </option>
        <option value= "AST">Alantic Standard Time</option>
        <option value= "NST">Newfoundland Standard Time</option>
      </select>

    <br>
    <br>
    <input type="submit" class="btn-primary btn btn-lg" value="Fire Away">


  </form>

  <a href = "/user/<%=@user.id%>/group/new">
  <h1> add group </h1>
  </a>
</div>
