<div class="jumbotron">

  <h1 class="text-center">Hello, <%= @user.first_name %></h1>
  <br>
  <p class="text-center">Let's Send Some Messages!</p>
  <br>

  <% if @text && @text.errors.any? %>
    <div>
      <strong>Oops! Try fixing these:</strong>
      <ul>
        <% @text.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form method="post" action="/user/<%= @user.id %>/text/new">
    <label>Number To Text:</label>
    <input type="text" class="form-control" name="recipient_phone_number" value = "<%= @text && @text.recipient_phone_number%>">
    <br>
    <label>Message Content:</label>
    <textarea id="msg-content" class="form-control msg-content" name="content" value="<%= @text && @text.content%>"></textarea>
    <br>
    <label>Delivery Date:</label>
    <input type="datetime-local" class="form-control" name="datetime">
    <br>
    <label>Time Zone:</label>
    <br>

    <select class="form-control">
      <option value="ASKT">AKST</option>
      <option value="PST">PST</option>
      <option value="MST">MST</option>
      <option value="CST">CST</option>
      <option value="EST">EST</option>
      <option value="AST">AST</option>
      <option value="NST">NST</option>
    </select>
    <br>

    <input type="submit" class="btn-primary btn btn-lg" value="Fire Away">

  </form>



