<h1> Pending Texts </h1>
<a href="/user/<%= session[:user_id] %>">Send More Messages.</a>
	<% @texts.each do |text| %>
	  <div class="text-index">
	    	<p> <b>to:</b> <%= text.recipient_phone_number %> </p>
	    	<p> <b>content:</b> <%= text.content %> </p>
	    	<p> <b>created at:</b> <%= text.created_at %> </p>
	    	<p> <b>scheduled for:</b> <%= text.send_time %> </p>
	  </div>

<% end %>