<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/chosen.min.css">


  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="/javascript/chosen.jquery.min.js"></script>
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <title></title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">txt_me_later</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <% if session[:user_id] %>
        
            <li>
               <nav class="navbar navbar-inverse navbar-collapse" role="navigation">
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="/user/<%= session[:user_id] %>">Send individual messages</a></li>
                          <li><a href="/user/<%= session[:user_id] %>/group/send">Send group messages</a></li> 
                          <li><a href="/user/<%= session[:user_id] %>/texts/pending">View Pending <span class="badge badge-collapse"><%= @text_pending && @text_pending.count %></span></a></li>
                          <li>
                          <a href="/user/<%= session[:user_id] %>/texts/archive">View Archive</a>
                          </li>
                      </ul>
                  </li>
              </ul>
             </nav>

            </li>

            <li>
            <nav class="navbar navbar-inverse navbar-collapse" role="navigation">
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="/user/<%= session[:user_id] %>/group/show">View Groups</a></li>
                          <li><a href="/user/<%= session[:user_id] %>/group/new">Add groups</a></li>
                      </ul>
                  </li>
              </ul>
             </nav>
              </li>

              <li><a href="/logout">Log Out  </a></li>

            <% end %>
        </div><!--/.nav-collapse -->
      </div>
  </nav>

  <div class="main-wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
